@model EnterpriseWebProject.ViewModel.ForgotPasswordViewModel
@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/Content/Login_att/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/Content/Login_att/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/Login_att/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/Content/Login_att/css/style.css">

    <title>ForgotPassword</title>
</head>
<body>
    <div class="d-md-flex half">
        <div class="bg" style="background-image: url('/Content/Login_att/images/University-of-Adelaide-Shutterstock-2048x1366.jpg');"></div>
        <div class="contents">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div class="form-block mx-auto">
                            <div class="text-center mb-5">
                                <h3 class="text-uppercase">Forgot Password</h3>
                            </div>
                            
                                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @id = "frm-forgot" }))
                                {
                                    <div class="form-group first">
                                        <label for="username">Enter Your Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "example@gmail.com" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        <span class="text-danger">@ViewBag.err</span>
                                    </div>

                                    <div class="d-sm-flex mb-5 align-items-center">
                                    </div>

                                    <input type="submit" value="Submit Email" class="btn btn-block py-2 btn-primary">
                                }                           

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/Content/Login_att/js/jquery-3.3.1.min.js"></script>
    <script src="/Content/Login_att/js/popper.min.js"></script>
    <script src="/Content/Login_att/js/bootstrap.min.js"></script>
    <script src="/Content/Login_att/js/main.js"></script>
</body>
</html>

